{% extends 'layout.html' %}

{% block title %}
    DF
{% endblock %}

{% block main %}
<form method='post' action='/deposit'>
    <div class='mb-3'>
        <label class='mb-3 fw-bold" for="deposit'>Deposit Funds</label>
        <input type='password' class='form-control mx-auto w-auto mb-3' placeholder='Confirm Password' id='password' minlength='1' name='password' required>
        <input type='number' class='form-control mx-auto w-auto mb-3' placeholder='amount' id='sum' min='8' step='8' name='sum' required>
        <button class='btn btn-primary btn-sm' type='submit'>Buy</button>
    </div>
</form>
{% endblock %}